@import "compass";
@import "compass/reset";
@import "helpers";
@import url(http://fonts.googleapis.com/css?family=Roboto);

$viewport-size: 300px;
$viewport-margin: -($viewport-size / 2);
$cube-front-color: #556270;
$cube-back-color: #9c9f84;
$cube-top-color: #4ecdc4;
$cube-bottom-color: #c7f464;
$cube-left-color: #ff6b6b;
$cube-right-color: #c44d58;
$cube-translate: $viewport-size / 2;
$text-color: #efefef;

html, body {
    font-family: 'Roboto', sans-serif;
    color: $text-color;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    @include background-image(linear-gradient(to bottom right, #a8ca66, #b53171));
}

#trackA-monitor, #trackB-monitor {
    font-size: 110px;
    font-weight: bold;
    text-align: center;
    height: 300px;
    width: 300px;
    margin: 50px 20px;
    padding: 20px;
    display: inline-block;

    div:last-child {
        font-size: 50px;
    }
}

#trackB-monitor {
    float: right;
}


#intro {
    text-align: center;
    position: fixed;
    bottom: 36px;
    width: 100%;

    h1 {
        font-size: 20px;
        line-height: 32px;
    }

    p {
        font-size: 16px;
        line-height: 22px;
    }
}

#viewport {
    width: $viewport-size;
    height: $viewport-size;
    top: 50%;
    left: 50%;
    margin: $viewport-margin 0 0 $viewport-margin;
    position: absolute;
    @include perspective(1000%);
}

#cube div {
    @extend .cube-geometry;
}

#cube {
    @extend .cube-geometry;
    @include transform-style(preserve-3D);
    @include transform(rotateX(45deg) rotateY(45deg) rotateZ(90deg));
    @include transition(all .3s);

    #front {
        background-color: $cube-front-color;
        @include transform(translateZ($cube-translate));
    }

    #back {
        background-color: $cube-back-color;
        @include transform(translateZ(-$cube-translate) rotateY(180deg));
    }

    #top {
        background-color: $cube-top-color;
        @include transform(translateY(-$cube-translate) rotateX(90deg));
    }

    #bottom {
        background-color: $cube-bottom-color;
        @include transform(translateY($cube-translate) rotateX(-90deg));
    }

    #left {
        background-color: $cube-left-color;
        @include transform(translateX(-$cube-translate) rotateY(-90deg));
    }

    #right {
        background-color: $cube-right-color;
        @include transform(translateX($cube-translate) rotateY(90deg));
    }
}

.fade-out {
    opacity: 0;
    @include transition(all 5s);
}

.spin {
    @include animation(spin 5s linear infinite);
}

@-webkit-keyframes spin {
  from  { @include transform(rotateX(0deg) rotateY(360deg)); }
  to { @include transform(rotateX(360deg) rotateY(0deg)); }
}
